!!! XML
!!! Strict
%html
  %head
    %title medapp 2.0
    = css '/dojo/dojox/grid/resources/tundraGrid.css'
    = dojo :debug=>false,:root=>'dojo', :parse=>false, :auto_require=>true #:root=>'dojo/release/dojo',:build=>'mydojo',
    = js
    //= js_builds 'dijit/dijit','dijit/dijit-all','app/app'
    //= js_builds 'app/app'
    %dojo_auto_require/
  %body{:class=>'tundra'}
    #mainContainer{:dojoType=>"dijit.layout.BorderContainer",:liveSplitters=>"false",:jsId=>'mainContainer',:gutters=>'false'}
      #headerContainer{:dojoType=>"dijit.layout.ContentPane", :region=>"top"}
        %h3 Tahoe Forest Health System
        #logout
          == You are logged as #{current_user.login}. |
          =link_to 'Logout', logout_url
      #contentContainer{:dojoType=>"dijit.layout.BorderContainer", :region=>"center",:gutters=>'false'}
      #leftPane{:dojoType=>"dijit.layout.BorderContainer", :jsId=>'leftPane',:minSize=>"5em", :region=>"leading", :splitter=>"true",:gutters=>'false'}
        #bage{:dojoType=>"app.views.PatientBage", :jsId=>'bage', :region=>"top"} Bage
        #navAcordionPane{:dojoType=>"dijit.layout.AccordionContainer",:jsid=>'navAccordion',:region=>"center"}
          #patientsNavTab{:dojoType=>"dijit.layout.ContentPane",:title=>"Patients/Visits",:selected=>"true"}= render :partial=>'shared/patient_search'
          #patientInfoTab{:dojoType=>"dijit.layout.ContentPane",:title=>"Patient Info"}= render :partial=>'shared/patient_info'
          #chartTab{:dojoType=>"dijit.layout.ContentPane",:title=>"Chart"}= render :partial=>'shared/chart'
          #labResultsTab{:dojoType=>"dijit.layout.ContentPane",:title=>"Lab Results"}= render :partial=>'shared/lab_results'
          #statisticsTab{:dojoType=>"dijit.layout.ContentPane",:title=>"Statistics"} not yet implemented
      #contentPane{:dojoType=>"dijit.layout.StackContainer", :jsId=>'contentPane',:region=>"center", :splitter=>"true"}
        #patientsCnt{:dojoType=>"dijit.layout.ContentPane",:jsId=>'patientsgridContainer',:gutters=>'false'}= render :partial=>'visits/index'
        #patientInfoCnt{:dojoType=>"dijit.layout.ContentPane",:jsId=>'patientInfoCnt',:gutters=>'false'}
        #labresultsCnt{:dojoType=>"dijit.layout.ContentPane",:jsId=>'labresultsContainer',:gutters=>'false'}= render :partial=>'lab_results/labs'
        #chartContainer{:dojoType=>"dijit.layout.ContentPane",:jsId=>'chartContainer',:gutters=>'false'} 
    #overlay
      #pageLoadinSplash Loading...
